body {
    background-image: url('src/images/home.jpeg');           /* Set background image */
    background-size: cover;                      /* Cover the entire screen */
    background-position: center;                 /* Center the image */
    background-repeat: no-repeat;                /* Prevent repetition */
    background-color: rgb(238, 234, 241);        /* Fallback background */
}

#form {
    background-color: rgb(255, 255, 255);
    width: 25%;
    border-radius: 4px;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(82, 11, 77);
}

#btn {
    color: rgb(255, 255, 255);
    background-color: green;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color:  green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 570px) {
    #form {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
    }
}
